body {
	font-family: Arial, sans-serif;
	background-color: #fff;
	margin: 0;
}

.background-container {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.calculator-container {
	background-color: #eee;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 80%; /* Adjust as needed */
	max-width: 600px; /* Adjust as needed */
	margin: auto; /* Center the container */
}

h1, h2 {
	text-align: center;
}

.form-group {
	margin-bottom: 20px;
	text-align: right;
	display: flex;
	flex-wrap: wrap;
}

label {
	flex: 1; /* Take 100% of the available space */
	margin-top: 8px;
	margin-right: 20px;
}

input {
	flex: 2; /* Take 200% of the available space */
	width: calc(100% - 10px); /* Adjust as needed with padding and box-sizing */
	padding: 8px;
	margin-right: 45px;
	box-sizing: border-box;
}


/* Media Query for mobile adaptation */
@media screen and (max-width: 768px) {
	.calculator-container {
		width: 90%;
	}
}
